
<html lang="en">
  <head>
    <title>change paswd</title>
    
  </head>
  <body>
    
    
<center>
        <form action="/changepaswd/" method="get" > 
   
              
     <table class="gridtable"  align="center">
<tr>


<th colspan="2">Are U Wish to change ??</th></tr>
<tr><td >User name</td><td ><input type="text" name="user" placeholder="Email id" value="" required></td></tr>
<tr><td >Old password</td><td><input type="password" name="opass" placeholder="Old Password" value="" required></td></tr>
<tr><td >New password</td><td><input type="password" name="npass" placeholder="New Password" required></td></tr>
<tr><td >Retype password</td><td><input type="password" name="rpass" placeholder="Retype Password" required></td></tr>
<tr><td colspan="2" align="right"><input type="submit" value="CHANGE PASSWORD" name="submit"></td></tr>
</table>

</form>
